<mat-card>


    <app-title title="Parcours"></app-title>
    <form [formGroup]="myForm">
        <div class="row">
            <div class="col-md-6 mt-3">
                <mat-form-field appearance="fill" class="col-md-12">
                    <mat-label>Titre</mat-label>
                    <input matInput formControlName="titre" required>
                </mat-form-field>

                <mat-form-field appearance="fill" class="col-md-6">
                    <mat-label>Image</mat-label>
                    <input matInput formControlName="image" required>
                </mat-form-field>

                <mat-form-field appearance="fill" class="col-md-6">
                    <mat-label>Durée (en minutes)</mat-label>
                    <input matInput formControlName="temps" type="number" required>
                </mat-form-field>

                <mat-form-field appearance="fill" class="col-md-6">
                    <mat-label>Latitude</mat-label>
                    <input matInput formControlName="lat" type="number" readonly>
                </mat-form-field>

                <mat-form-field appearance="fill" class="col-md-6">
                    <mat-label>Longitude</mat-label>
                    <input matInput formControlName="lng" type="number" readonly>
                </mat-form-field>

                <mat-form-field appearance="fill" class="col-md-12">
                    <mat-label>Descriptif</mat-label>
                    <textarea matInput formControlName="descriptif" required></textarea>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-card style="height: 50vh;">
                    <app-agm-map [postitionFromParent]="currentPosition" [eventToParent]="eventFromMap" [draggable]="true"></app-agm-map>
                </mat-card>
            </div>
        </div>
        <div class="actions">
            <button mat-button [routerLink]="['/admin/article/list']" type="button">Retour</button>&nbsp;&nbsp;
            <!-- <button mat-button (click)="reset()" type="button">Annuler</button>&nbsp;&nbsp; -->
            <button mat-raised-button [disabled]="myForm.invalid || isAdded" color="primary" (click)="submit(myForm.value)">Enregistrer
        <!-- [disabled]="myForm.invalid" -->
      </button>
        </div>

        <mat-divider class="mb-3"></mat-divider>

        <app-etap [objectFromParcoursComponent]="sendObjectToEtapComponent"></app-etap>
    </form>
</mat-card>