<div class="wallpaper">
  <h1>{{o.firstname}} {{o.lastname}}</h1>
</div>
<div class="container mb-3" style="margin-top: -15vh;">
  <mat-card>
    <form [formGroup]="myForm">
      <div class="column">
        <h4>Mon compte</h4>

        <mat-form-field appearance="outline">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="lastname" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Prénom</mat-label>
          <input matInput formControlName="firstname" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input matInput formControlName="password" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Rôle</mat-label>
          <input matInput formControlName="role" required>
        </mat-form-field>


      </div>
    </form>

    <!-- Boutons de validation -->
    <div class="actions">
      <button mat-button [routerLink]="['/home/list']" type="button">Retour</button>&nbsp;&nbsp;
      <button mat-raised-button color="primary" (click)="submit(myForm.value)"
        [disabled]="myForm.invalid">Enregistrer</button>
    </div>
  </mat-card>
</div>
