<!-- <div class="host">

  <mat-tab-group dynamicHeight="true" class="example-stretched-tabs mat-elevation-z4" #matgroup style="margin-top: 15px;">

    <mat-tab label="Itineraire" [disabled]='o.id === 0'>
      <ng-template matTabContent>
        <div style="margin: 15px;">
          <app-itineraire [parentObject]="o"></app-itineraire>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="Localisation" [disabled]='o.id === 0'>
      <ng-template matTabContent>
        <div style="margin: 15px;">
          <app-localisation [parentObject]="o"></app-localisation>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="Images" [disabled]='o.id === 0'>
      <ng-template matTabContent>
        <div style="margin: 15px;">
          <app-image [parentObject]="o"></app-image>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="Details" [disabled]='o.id === 0'>
      <ng-template matTabContent>
        <div style="margin: 15px;">
          <app-details [parentObject]="o"></app-details>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="Tags" [disabled]='o.id === 0'>
      <ng-template matTabContent>
        <div style="margin: 15px;">
          <app-tags [parentObject]="o"></app-tags>
        </div>
      </ng-template>
    </mat-tab>

  </mat-tab-group>
</div> -->
<app-parcours></app-parcours>
