<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{o.titre}}</mat-card-title>
      <mat-card-subtitle>subtitle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <div class="row">

        <div class="col-md-6">
          <img [src]="o.image" alt="" srcset="" style="width: 100%;">
        </div>
        <div class="col-md-6">
          <p>
            {{o.descriptif}}
          </p>

          <div class="col-md-12">
            <mat-card style="height: 40vh;">
              <app-agm-map [postitionFromParent]="currentPosition"></app-agm-map>
            </mat-card>
          </div>
        </div>
      </div>

      <div class="row">
        <mat-card *ngFor="let e of o.etaps; let i=index" class="col-md-6">

          <mat-form-field appearance="fill" class="col-md-12">
            <mat-label>Etap {{i}} : Adresse</mat-label>
            <input matInput [value]="e.adresse" type="number" readonly>
          </mat-form-field>

          <mat-card *ngFor="let q of e.quizzs; let i=index">
            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>Question</mat-label>
              <textarea matInput [value]="q.question" readonly></textarea>
            </mat-form-field>

            <div *ngFor="let s of splite(q.choix); let i=index">
              <button style="width: 100%; margin: 3px 0;" mat-raised-button [color]="answer(s, q).color"
              (click)="doRespond(s, q)">
                {{s}} {{answer(s, q).text}}
              </button>
            </div>

          </mat-card>
        </mat-card>
      </div>




    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Ok</button>
    </mat-card-actions>
  </mat-card>





</div>
