<!-- Page Home après le login -->

<div class="wallpaper">
    <h1>Bienvenue sur l'application qui vous fait voyager</h1>
    <mat-icon>keyboard_arrow_down</mat-icon>
</div>


<div class="container mycenter">
    <h1 class="objectif">Objectif</h1>
    <span class="line"></span>
    <p style="margin-bottom: 20px;">
        Vous désirez visiter une ville, un pays ou un lieu mais vous n'avez pas d'argent pour vous payez un guide. Cette application vous permet de visiter un lieu sans guide, grâce à la communauté Super Travel.
    </p>

    <button color="accent" mat-raised-button [routerLink]="['/home/list']">Voir les parcours</button>
</div>

<div class="temoignage" style="height: 30vh;">
    <h1>Témoignages</h1>
    <mat-icon>keyboard_arrow_down</mat-icon>
</div>

<!-- Liste des témoignages -->
<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-md-4">
            <mat-card class="mycenter">
                <img src="../../../assets/1.jpg" alt="" srcset="">
                <h2>Laure, 21 ans</h2>
                <p>Super App! J'ai pu visiter Milan sans avoir besoin d'un guide.</p>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="mycenter">
                <img src="../../../assets/2.jpg" alt="" srcset="">
                <h2>Pierre, 18 ans</h2>
                <p>On est parti à Berlin sans un sou en poche, grâce <br> à Super Travel, on a pu trouver de bons plans.</p>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="mycenter">
                <img src="../../../assets/3.jpg" alt="" srcset="">
                <h2>Remi, 25 ans</h2>
                <p>Je n'avais pas les moyens de m'offrir un voyage All-Inclusive. Pour moi Super Travel est LA solution.</p>
            </mat-card>
        </div>
    </div>

</div>

<div class="createur">
    <h1>Fondateurs</h1>
    <mat-icon>keyboard_arrow_down</mat-icon>
</div>

<!-- Liste des fondateurs -->
<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-md-4">
            <mat-card class="mycenter">
                <img src="../../../assets/1.jpg" alt="" srcset="">
                <h2>Jérémy T.</h2>
                <p>Porteur du projet <br> & Développeur</p>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="mycenter">
                <img src="../../../assets/2.jpg" alt="" srcset="">
                <h2>Mohamed M.</h2>
                <p>Développeur</p>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="mycenter">
                <img src="../../../assets/3.jpg" alt="" srcset="">
                <h2>Valéry-Jérôme M.</h2>
                <p>Développeur</p>
            </mat-card>
        </div>
    </div>

</div>

<!-- Pied de page -->
<div class="footer">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 mycenter">
                <h4></h4>
                <p>
                    <!-- texte de gauche, si besoin est -->
                </p>
            </div>

            <div class="col-md-4 mycenter">
                <h4>Nous contacter</h4>
                <p>
                    33 Rue François Mitterrand <br> 87032 Limoges, France <br> Téléphone : +33 5 55 14 91 00
                </p>
            </div>

            <div class="col-md-4 mycenter">
                <h4></h4>
                <p>
                    <!-- texte de droite, si besoin est -->
                </p>
            </div>
        </div>
    </div>
</div>