<div class="wallpaper">
    <h1>bien venu a travel auto learning</h1>
    <mat-icon>keyboard_arrow_down</mat-icon>
</div>


<div class="container mycenter">
    <h1 class="objectif">Objectif</h1> 
    <span class="line"></span>
    <p style="margin-bottom: 20px;">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est fugit ullam eum reprehenderit officiis molestias
        quos vero dolorem et nobis ab consequatur quod beatae ad repellat, repellendus expedita porro? Suscipit.
    </p>

    <button color="accent" mat-raised-button [routerLink]="['/home/list']">Voir les parcours</button>
</div>

<div class="temoignage" style="height: 30vh;">
    <h1>Temoignage</h1>
    <mat-icon>keyboard_arrow_down</mat-icon>
</div>

<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-md-4">
            <mat-card class="mycenter">
                <img src="../../../assets/1.jpg" alt="" srcset="">
                <h2>nom et prenom</h2>
                <p>Lorem ipsum dolor sit amet consectetur ddddd</p>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="mycenter">
                <img src="../../../assets/2.jpg" alt="" srcset="">
                <h2>nom et prenom</h2>
                <p>Lorem ipsum dolor sit amet consectetur adi</p>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="mycenter">
                <img src="../../../assets/3.jpg" alt="" srcset="">
                <h2>nom et prenom</h2>
                <p>Lorem ipsum dolor sit amet consectetur ad</p>
            </mat-card>
        </div>
    </div>

</div>

<div class="createur">
    <h1>Createur</h1>
    <mat-icon>keyboard_arrow_down</mat-icon>
</div>

<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-md-4">
            <mat-card class="mycenter">
                <img src="../../../assets/1.jpg" alt="" srcset="">
                <h2>nom et prenom</h2>
                <p>Lorem ipsum dolor sit amet consectetur ddddd</p>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="mycenter">
                <img src="../../../assets/2.jpg" alt="" srcset="">
                <h2>nom et prenom</h2>
                <p>Lorem ipsum dolor sit amet consectetur adi</p>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="mycenter">
                <img src="../../../assets/3.jpg" alt="" srcset="">
                <h2>nom et prenom</h2>
                <p>Lorem ipsum dolor sit amet consectetur ad</p>
            </mat-card>
        </div>
    </div>

</div>

<div class="footer">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 mycenter">
                <h4>something</h4>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est corrupti nam alias repudiandae harum
                    repellat dolore, ratione cupiditate, corporis eaque doloremque amet recusandae distinctio facilis
                    temporibus laborum! Delectus, aliquam perferendis!
                </p>
            </div>

            <div class="col-md-4 mycenter">
                <h4>something</h4>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est corrupti nam alias repudiandae harum
                    repellat dolore, ratione cupiditate, corporis eaque doloremque amet recusandae distinctio facilis
                    temporibus laborum! Delectus, aliquam perferendis!
                </p>
            </div>

            <div class="col-md-4 mycenter">
                <h4>something</h4>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est corrupti nam alias repudiandae harum
                    repellat dolore, ratione cupiditate, corporis eaque doloremque amet recusandae distinctio facilis
                    temporibus laborum! Delectus, aliquam perferendis!
                </p>
            </div>
        </div>
    </div>
</div>