<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <!-- <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker> -->
  <!-- (markerClick)="clickedMarker(m.label, i)" -->
  <agm-marker
      *ngFor="let m of markers; let i = index"

      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)"
      (markerClick)="clickedMarker(m, i)"
      >

    <!-- <agm-info-window>
      <strong>{{m.user[0].username}} {{m.user[0].lastName}}</strong>
    </agm-info-window> -->

  </agm-marker>

  <!-- <agm-circle [latitude]="lat" [longitude]="lng + -0.8"
      [radius]="20000"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true">
  </agm-circle> -->

</agm-map>



