<div class="flex-container">

    <mat-card class="flex-item mat-elevation-z8">

        <form [formGroup]="myForm" (ngSubmit)="submit(myForm.value)">
            <mat-card-content>

                <p class="systeme">Lorem ipsum dolo</p>

                <div class="example-container mtb-2 text-center">

                    <mat-form-field appearance="fill">
                        <mat-label>Prénom</mat-label>
                        <input matInput formControlName="firstname">
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Nom</mat-label>
                        <input matInput formControlName="lastname">
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" placeholder="Email address">
                        <mat-error *ngIf="myForm.get('email').invalid">Email non validé</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Mot de passe</mat-label>
                        <input matInput formControlName="password" placeholder="Mot de passe" [type]="hide ? 'password' : 'text'">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                    </mat-form-field>
                    <br>
                    <button mat-raised-button color="accent" type="submit">Créer</button>
                    <br>
                    <button [routerLink]="['/auth/login']" mat-raised-button color="primary" type="button">Se connecter</button>
                </div>
            </mat-card-content>
        </form>
    </mat-card>

</div>