<div class="flex-container">
    <!-- {{myForm.value | json}} -->
    <mat-card class="flex-item mat-elevation-z8">


        <form [formGroup]="myForm" (ngSubmit)="submit(myForm.value)">
            <mat-card-content>

                <p class="systeme">Bienvenue</p>

                <div class="example-container mtb-2 text-center">

                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" placeholder="Email address">
                        <mat-error *ngIf="myForm.get('email').invalid">Email non valide</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Mot de passe</mat-label>
                        <input matInput formControlName="password" placeholder="Mot de passe" [type]="hide ? 'password' : 'text'">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                    </mat-form-field>
                    <br>
                    <button mat-raised-button color="primary" type="submit">Se connecter</button>
                    <br>
                    <button [routerLink]="['/auth/create']" mat-raised-button color="accent" type="button">Créer un compte</button>
                </div>
            </mat-card-content>
        </form>
    </mat-card>

    <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 450px !important;">
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> EMAIL </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef> MOTPASS </th>
      <td mat-cell *matCellDef="let element"> {{element.password}} </td>
    </ng-container>

    <ng-container matColumnDef="profil">
      <th mat-header-cell *matHeaderCellDef> PROFIL </th>
      <td mat-cell *matCellDef="let element"> {{element.profil}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->
</div>