<div class="flex-container">

    <mat-card class="flex-item mat-elevation-z8">


        <form [formGroup]="myForm" (ngSubmit)="submit(myForm.value)">
            <mat-card-content>

                <p class="systeme">Bienvenue</p>

                <div class="example-container mtb-2 text-center">

                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" placeholder="Email address">
                        <mat-error *ngIf="myForm.get('email').invalid">Email non valide</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Mot de passe</mat-label>
                        <input matInput formControlName="password" placeholder="Mot de passe" [type]="hide ? 'password' : 'text'">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                    </mat-form-field>
                    <br>
                    <!-- bouton de validation -->
                    <button mat-raised-button color="primary" type="submit">Se connecter</button>
                    <br>
                    <!-- bouton de creation de user, routage vers /auth/create -->
                    <button [routerLink]="['/auth/create']" mat-raised-button color="accent" type="button">Créer un compte</button>
                </div>
            </mat-card-content>
        </form>
    </mat-card>
</div>